threads-api
aiosignal
beautifulsoup4
discord-webhook
feedparser
Mastodon.py
matrix-nio
opengraph_py3
python-facebook-api
python-twitter-v2
requests
requests-oauthlib
simplematrixbotlib
six
soupsieve
tweepy
twython
websocket-client
grequests